 html {
		position: relative;
		min-height: 100%;
		overflow: hidden;
      }
	  body {
		/* Margin bottom by footer height */
		margin-bottom: 61px;
		overflow: hidden;
		
	  }
	  .footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 61px;
		background-color: #f5f5f5;
		border-top: 1px solid rgba(0,0,0,0.5);   /*#E60000*/
		z-index: 26;
	  }

	  body > .container {
		padding: 52px 0px 0;    /*61 px is for the header being 60+1px border */
	  }
	  .container .text-muted {
		margin: 20px 0;
	  }

	  .footer > .container {
		padding-right: 15px;
		padding-left: 15px;
	  }

	  code {
		font-size: 80%;
	  }
	  
	  .navbar {
	      border-top: 1px solid #e50000;   /*#E60000*/
	  }

	  .navbar-brand
	  {
 		position: absolute;
		width: 60%;
		left: 20%;
		text-align: center;
		margin: auto;
		cursor: default; 
	  }
	  #connectName {
	     margin-left: 14px;
	  }

	  .navbar-toggle{
		z-index: 10;
	  }
	  
	  .navbar a {
	     outline: none;
	  }
	  
	  button:focus {
	    outline: none !important;
	  }
	  
	  .noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;		
	  }

	  #footer-row {
		padding-top: 7px;
	  }
	  @media (min-width: 1200px) {
	    #check-col {
	       padding-left: 40px;
		   padding-right: 40px;	  
		}
		.name {
		   width: 11%;
		}
		.ts {
	       width: 11%;
	    }
		.yt{
		   width: 325px;
		   height: 200px;
		}
		.resizer {
		   margin-bottom: 160px;
		}
	  }	  
	  @media (min-width: 992px) and (max-width: 1199px) {
	    #check-col {
	       padding-left: 40px;
		   padding-right: 40px;	  
		}
		.name {
		   width: 13%;
		}
		.ts {
	       width: 13%;
	    }
		.yt {
		   width: 325px;
		   height: 200px;
		}
		.resizer {
		   margin-bottom: 160px;
		}
	  }	  
	  @media (min-width: 768px) and (max-width: 991px) {
	    #check-col {
	       padding-left: 30px;
		   padding-right: 30px;	  
		}
		.name {
		   width: 16%;
		}
		.ts {
	       width: 15%;
	    }
		.yt {
		   width: 325px;
		   height: 200px;
		}
		.resizer {
		   margin-bottom: 160px;
		}
	  }	  
	  @media (max-width: 767px) {
	    #check-col {
	       padding-left: 0px;
		   padding-right: 0px;	  
		   /*display: none;*/
		}
		.name {
		   width: 25%;
		}
		.ts {
	       width: 20%;
	    }
		.msg img {
		   max-height:150px;
		   max-width: 230px !important;
		}
		.scrolling {
		   top: 8px !important;
		}
		.yt {
		   width: 200px;
		   height: 130px;
		}
		.resizer {
		   margin-bottom: 90px;
		   display: none !important;
		}
		.wrapword {
		    word-break: break-all;
			white-space: normal; 
		}
	  }  
	  @media (max-width: 480px) {
	    #check-col {
	       padding-left: 20px;
		   padding-right: 20px;
		   /*display: none;*/
		}
		.name {
		   width: 30%;
		}
		.ts {
	       width: 24%;
	    }
		.msg img {
		   max-height:100px;
		   max-width: 130px !important;
		}
		.scrolling {
		   top: 8px !important;
		}
		.yt {
		   width: 170px;
		   height: 120px;
		}
		.resizer {
		   margin-bottom: 90px;
		   display: none !important;
		}
		.color-form {
		    padding-bottom: 3px !important;
		}
		#nameColorForm {
		    padding-top: 5px !important;
		}
		#textColorForm {
		    padding-top: 0px !important;
		}
		.switch {
		    margin: 5px auto 25px auto !important;
		}
		.wrapword {
		    word-break: break-all;
			white-space: normal; 
		}
		
	  }
	
	 .scrollable-menu {
		height: auto;
		max-height: 200px;
		overflow-x: hidden;
		overflow-y: auto;
	 }		
	 .full {
		width: 100%;
	 }	 
	 .name {
	    font-weight: 600;
		padding-left: 15px !important;
	 }
	 table tr:first-child td{
	    border: 0;
	 }
	 .scrolling {
	    overflow-y: auto;
		top: 0px;
		bottom: 60px;
		position: absolute;
	 }
	 
	/*
	.jumbotron {
	  text-align: center;
	  padding-top: 0px;
	  position: absolute;
	  width: 80%;
	  margin-right: 10%;
	  margin-left: 10%;
	  border: 1px solid #1e3875;
	  background-color: #fbfbfb;
	}
	*/
	.container .jumbotron {
	   border-radius: 0px;
	}
	.jumbotron {
	  text-align: center;
	  margin-bottom: 0px;
	  padding-top: 5px;
	  /*background: linear-gradient(to bottom, #bfd2ff 0px, rgb(249,249,249) 60%);*/
	  background: linear-gradient(to bottom, #bfd2ff 0px, #FFF 100%);
	  z-index: 22;
	  height: 100%;
	}
	
	.shadow {
	   background: #000; 
	   position: fixed; 
	   left: 0; 
	   right: 0; 
	   width: 100%; 
	   height: 100%;
	   z-index: 20; 
	   opacity: 0.4; 
	   filter:progid:DXImageTransform.Microsoft.BasicImage(opacity=.7);
	}
	
	.center {
      text-align:center;
	}

	.center form {
	  display:inline-block;
	}
	#name-container{
	  display:inline-block;
	  padding-top: 15px;
	}
	.color-form {
	   padding: 12px 15px;
	}
	.input-group-addon {
	   padding: 5px;
	   font-size: 120%;
	}
	#colorNamePreview, #colorTextPreview {
	   padding-right: 30px;
	}
	#flood-control {
	   position: absolute;
	   bottom: 0px; /* 70 */
	   width: 100%;
	   visibility: hidden;
      -moz-transition : all 0.8s ease 0s;
	  -webkit-transition: all 0.8s ease 0s;
	  transition: all 0.8s ease 0s;  
	  z-index: 25;
	}
	#flood-control div {
	   margin: 0 auto;
	   width: 60%;
	   text-align: center;
	   cursor: pointer;	   
	}
	#messages {
	   z-index: 22;
	}	
	
	.wrapword{
	   white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	   white-space: -pre-wrap;      /* Opera 4-6 */
	   white-space: -o-pre-wrap;    /* Opera 7 */
	   white-space: pre-wrap;       /* css-3 */
	   word-wrap: break-word;       /* Internet Explorer 5.5+ */
	   white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
/*  	   word-break: break-all;
	   white-space: normal;  */
	}
	
	#cover {
		position: fixed;
	    background-color: white;
		z-index: 40;
		height: 100%;
		width: 100%;
		left:100%;
		-moz-transition : all 0.1s ease 0s;
	   -webkit-transition: all 0.1s ease 0s;
	   transition: all 0.1s ease 0s;
	}
	
	#settings {
	    overflow-y: auto;
	} 
	
	#portrait {
	   width: 100%;
	   height: 100%;	   
	   background-color: #333333;
	   text-align: center;
	   overflow: auto;		   
	}
	.img-helper {
	   vertical-align: middle;
	   display: inline-block;
	   height: 100%;
	}
	#portrait img {
	   margin: auto;
	   vertical-align: middle;
	   display: inline-block;  
	}
	/*
	input[type='checkbox']  {
	  transform: scale(1.5);
      -webkit-transform: scale(1.5);
	}*/
	
	#settings-scroll-text {
	   font-weight: 600;
	}
	.typing {
	   font-size: 85%;
	   font-weight: 600;
	   opacity: 0.6;
	}
	
	.typing td {
	   border: none !important;
	   /* padding: 4px 8px !important; */
	   padding: 8px 8px 0px 8px !important;
	}
	
	.dots {
	   letter-spacing: 3px;
	}
	

	.msg:hover .resizer {
		opacity: 0.2;
	}
	.resizer {
	    display: inline-block;
	    width: 40px;
		height: 40px;
		opacity: 0;
		border-radius: 10px; 
	   -moz-border-radius: 10px; 
	   -webkit-border-radius: 10px;
	   /*background: #EEE;*/
	   text-align: center;
		background-image: url("+.png");	
		cursor: pointer;
	}
	.resizer:hover {
		opacity: 0.5 !important;
	}



	
	
	/* Auto Scroll Switch */
	*,*:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.switch {
  margin: 5px auto 40px auto;
  position: relative;
}

.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* DEMO 3 */

.switch.check {
  width: 120px;  /* 150 */
  height: 30px;  /* 50 */
}

.switch.check label {
  display: block;
  width: 100%;
  height: 100%;
  background: #a5a39d;
  border-radius: 40px;
  box-shadow:
      inset 0 3px 8px 1px rgba(0,0,0,0.2),
      0 1px 0 rgba(255,255,255,0.5);
}

.switch.check label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
  background: #ababab;
  background: -moz-linear-gradient(#f2f2f2, #ababab);
  background: -ms-linear-gradient(#f2f2f2, #ababab);
  background: -o-linear-gradient(#f2f2f2, #ababab);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
  background: -webkit-linear-gradient(#f2f2f2, #ababab);
  background: linear-gradient(#f2f2f2, #ababab);
  box-shadow: 0 0 10px rgba(0,0,0,0.3),
        0 1px 1px rgba(0,0,0,0.25);
}

.switch.check label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -18px; right: -18px; bottom: -18px; left: -18px;
  border-radius: inherit;
  background: #eee;
  background: -moz-linear-gradient(#e5e7e6, #eee);
  background: -ms-linear-gradient(#e5e7e6, #eee);
  background: -o-linear-gradient(#e5e7e6, #eee);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
  background: -webkit-linear-gradient(#e5e7e6, #eee);
  background: linear-gradient(#e5e7e6, #eee);
  box-shadow:
      0 1px 0 rgba(255,255,255,0.5);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}

.switch.check label i {
  display: block;
  height: 100%;
  width: 60%;
  border-radius: inherit;
  background: silver;
  position: absolute;
  z-index: 2;
  right: 40%;
  top: 0;
  background: #b2ac9e;
  background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
  background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
  background: -o-linear-gradient(#f7f2f6, #b2ac9e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow:
      inset 0 1px 0 white,
      0 0 8px rgba(0,0,0,0.3),
      0 5px 5px rgba(0,0,0,0.2);
}

.switch.check label i:after {
  content: "";
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  background: #d2cbc3;
  background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
  background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
  background: -o-linear-gradient(#cbc7bc, #d2cbc3);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
  background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
  background: linear-gradient(#cbc7bc, #d2cbc3);
  border-radius: inherit;
}

.switch.check label i:before {
  content: "off";
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;  /* 24 */
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: -55%;  /* -50 */
}

.switch.check input:checked ~ label {
  background: #7AC37A;  /*#9abb82 */
}

.switch.check input:checked ~ label i {
  right: -1%; /* -1 */
}

.switch.check input:checked ~ label i:before {
  content: "on";
  right: 108%;   /* 115% */
  color: #619c61;   /* #82a06a */
  text-shadow: 
    0 1px 0 #afcb9b,
    0 -1px 0 #6b8659;
}
	
	
	
	
	
	
	
	
	
	
	
	/*COLORING*/
	.navbar-default{
	   background-image: linear-gradient(to bottom, #3b5694 0px, #1e3875 100%);
	}
	.navbar-default {
	  background-color: #3b5694;
	  border-color: #1e3875;
	}
	.navbar-default .navbar-brand {
	  color: #fbfbfb;
	}
	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	  color: #fbfbfb;
	}
	.navbar-default .navbar-text {
	  color: #fbfbfb;
	}
	.navbar-default .navbar-nav > li > a {
	  color: #fbfbfb;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	  color: #bfd2ff;
	}
	.navbar-default .navbar-nav > li > a:active {
	  background-image: linear-gradient(to bottom, #3b5694 0px, #1e3875 50%);
	}
	.navbar-default .navbar-nav > li > .dropdown-menu {
	  background-color: #3b5694;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	  color: #fbfbfb;
	}
/*	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	  background-image: none;
	  color: #bfd2ff;
	  background-color: #1e3875;
	}
*/
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	  background-image: none;
	  color: #bfd2ff;
	  background-color: #3b5694;
	}

	#none {
	  color: #98A8CC;
	}
	
	.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	  background-color: #3b5694;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	  background-image: none;
	  color: #bfd2ff;
	  background-color: #1e3875;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	  background-image: linear-gradient(to bottom, #3b5694 0px, #1e3875 70%);
	  color: #bfd2ff;
	  background-color: #1e3875;
	}
	.navbar-default .navbar-toggle {
	  border-color: #1e3875;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	  background-color: #1e3875;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  background-color: #fbfbfb;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
	  border-color: #fbfbfb;
	}
	.navbar-default .navbar-link {
	  color: #fbfbfb;
	}
	.navbar-default .navbar-link:hover {
	  color: #bfd2ff;
	}

	@media (max-width: 767px) {
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fbfbfb;
	  }
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #bfd2ff;
	  }
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #bfd2ff;
		background-color: #1e3875;
	  }
	}	
	#scroll-text { color: #FFF; }
	.footer{ background: linear-gradient(to bottom, #3b5694 0px, #1e3875 100%); }
	#footer-row{ background: linear-gradient(to bottom, #3b5694 0px, #223C79 100%); }